.body {
    background-color: #F2F4F6;
    height: 100vh;
}

.margin-down {
    margin-bottom: 20px;
}

.app {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.app > div {
    padding: 1em;
    text-align: center;
    border: 2px #eee solid;
    box-shadow: 3px 3px 2px #eee;
}

.app > div:nth-child(odd) {
    background: #fff;
    flex: 2;
    margin: 0 30px;
}

.app > div:nth-child(even) {
    background: #fff;
    flex: 1;
}

.input-area {
    border-width:0px;
    border: none;
}

textarea {
    width: 100%;
    resize: none !important;
    border: none;
    overflow: auto;
}

textarea:focus {
    outline: none;
    resize: none;
}

hr {
    margin: 30px -20px 20px;
}

.desc {
    font-size: 16px;
    text-align: left;
    line-height: 0.5;
    font-weight: 600;
}

.title {
    color: #FF9900;
    text-align: left;
    padding: 10px 0;
}